body{
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 1rem;
    font-weight: 800;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}


.css_images{
    max-width: 100%;
    max-height: 100%;
    display: none;
    width: 10rem;
    height: 10rem;
}

.title{
    font-size: 1.5rem;
    border-bottom: 1px solid #808080;
    margin: 1rem 4rem 0 4rem;
}


.css{
    padding: 0 4rem;
    color: blue;
    font-size: 1rem;
}

.css_item{
    border-bottom: 1px solid #808080;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
}


.css_title{
    display: block;
}

.css_input{
    width: 0;
    height: 0;
}



.css_input:checked ~ .css_images{
    display: block;
}


.css:hover{
    color: black;
}


.css_input:hover ~ .css_images{
    display: block;
}


